<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Contact Email</th>
        <th>PhoneNumber</th>

    </tr>
    </thead>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${customer.phoneNumber}"></td>


        <td>
            <a th:href="@{/rewards/{id}(id=${customer.id})}">Rewards</a>
        </td>
    </tr>
</table>

</body>
</html>