<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body class = "container">
<nav th:replace="fragments :: header"></nav>

<form method="post">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>PurchaseID</th>
            <th>Customer Name</th>
            <th>Purchase Amount</th>
            <th>Purchase Date</th>


        </tr>
        </thead>
        <tr th:each="purchase : ${purchases}">
            <td th:text="${purchase.id}"></td>
            <td th:text="${purchase.customer.name}"></td>
            <td th:text="${purchase.amountSpent}"></td>
            <td th:text="${purchase.date}"></td>

        </tr>
       </table>

        <br/>
        <table class="table table-striped">
            <thead>
            <tr>
            <th th:each="entry : ${rewMap}">
                  <span th:for="${entry.key}" th:text="${entry.key}"></span>
            </th>
            </tr>
            </thead>

            <tr>
                <td th:each="entry : ${rewMap}">
                <span th:text="${entry.value}" /></td>

            </tr>
            <tr colspan="3">
                <th>Total Rewards:</th> <td><span th:text="${totalRewards}" /></td>
            </tr>
        </table>


</form>
</body>
</html>